.homepagebackground {
  /* The image used */
  background-image: url("../images/mountain.jpg");

  /* Half height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbarbackground {
  background-image: url("../images/green-bottom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.navbarbackgroundOLD {
  background: linear-gradient(blue, black);
  height: 100%;
}

.nobuffer {
  margin: 0px;
  border: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.fillpar {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}

.mobileshrink {
  height: 50vh;
}
/* FOR DESTOP */
@media only screen and (min-width: 768px) {
  .mobileshrink {
    height: 100vh;
  }
}
